
<div class="row">
  <% @projects.each { |project| %>
    <div class="col-sm-3 widget-container-span">
      <div class="widget-box light-border" style="opacity: 1; z-index: 0;">
        <div class="widget-header header-color-dark">
          <h5 class="smaller">Project</h5>
          <div class="widget-toolbar">
            <span class="label label-success">
              16%
              <i class="icon-arrow-up"></i>
            </span>
          </div>
        </div>

        <div class="widget-body">
          <div class="widget-main padding-6">
            <div class="alert alert-info"> 
              <%= link_to project.name, project_path(project) %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% } %>
</div>
<div class="space-24"></div>
<div class="row">
  <div class="col-xs-12">
    <% if current_user.can? :create, Project  %>
      <%= link_to "Add Project", new_project_path,  :class=>"btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>
