<div class="row">
  <div class="col-xs-12 col-sm-12">
    <div class="widget-box">
      <div class="widget-header">
        <h4>Add Sprint</h4>

        <div class="widget-toolbar">
          <a href="#" data-action="collapse">
            <i class="icon-chevron-up"></i>
          </a>

          <a href="#" data-action="close">
            <i class="icon-remove"></i>
          </a>
        </div>
      </div>

      <div class="widget-body">
        <div class="widget-body-inner" style="display: block;">
          <div class="widget-main">
            <%= form_for(@sprint, url: project_sprints_path(@project)) do |f| %>
              <div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="icon-calendar bigger-110"></i>
                  </span>

                  <input class="form-control" type="text" name="date-range-picker" id="id-date-range-picker-1">
                </div>
                <div class="clearfix form-actions">
                  <%= f.submit 'Add Sprint', :class => 'btn btn-primary' %>
                </div>
              </div>
            <% end %>
          </div> <!-- main -->
        </div><!-- body-inner -->
      </div> <!-- body -->
    </div><!-- widget-box -->
  </div>
  <div class="col-sm-12">
    <h4>Sprints</h4>
    <% if @project.sprints.count > 0 %>
      <div class="dd" id="nestable">
        <ol class="dd-list">
          <% @project.sprints.each { |story| %>
            <li class="dd-item" data-id="11">
            <div class="dd-handle">
              <%= sprint.id %>
              <span class="sticker">
                <span class="label label-success arrowed-in">
                  <i class="icon-ok bigger-110"></i>
                </span>
              </span>
            </div>
            </li>
          <% } %>
        </ol>
      </div>
    <% end %>
  </div>

</div><!-- story box -->

