<div class="page-header">
  <h1>
    <%= @project.name %>
    <small>
      <i class="icon-double-angle-right"></i>
    </small>
  </h1>
</div>
<div class="row">
  <!-- stories -->
  <div class="col-sm-6">
    <%= render 'stories' %>
  </div>

  <div class="col-sm-6">
    <%= render 'sprints' %>
  </div>
</div>
