<%# navigation styled for Bootstrap 3.0 %>
<div class="navbar navbar-default">
  <div class="navbar-container">
    <div class="navbar-header pull-left">
      <a href="/" class="navbar-brand">
        <i class="icon-rocket"></i>
        Catalyst
      </a>
    </div>
    <div class="navbar-header pull-right">
      <ul class="nav ace-nav">
        <li class="light-blue">
        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
          <img class="nav-user-photo" src="/assets/user.jpg" alt="Jason's Photo">
          <span class="user-info">
            <small>Welcome,</small>
            <% if user_signed_in? %>
              <%= current_user.name %>
            <% else %>
              Guest
            <% end %>
          </span>
          <i class="icon-caret-down"></i>
        </a>
        <%= render 'layouts/navigation_links' %>
        </li> 
      </ul>
    </div>
  </div>
</div>
